/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* common styles or utilites */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
h1 {
  font-size: 64px;
  font-weight: 700;
  color: white;
  line-height: 80px;
}

/*-----------------
 top siction style 
 -----------------*/
.top-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #2d25a0;
  margin-bottom: 70px;
}

.top-heading {
  margin-top: 121px;
  margin-left: 250px;
  margin-bottom: 169px;
}
.heading {
  width: 485px;
  height: 230px;
}
.link-btn {
  border: none;
  margin-top: 27px;
  background-color: #e02c6d;
  padding: 10px 24px 10px 24px;
}
.top-banner img {
  margin-right: 140px;
  margin-top: 67px;
  margin-bottom: 114px;
  width: 556px;
  height: 438px;
}
.top-section:hover .top-banner img {
  transform: skew(10deg) rotate(360deg);
  transition: transform 5s ease-in-out;
}
/*-----------------
  players section 
 -----------------*/
.players {
  margin: auto;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 15px;
  width: 1050px;
}
.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 474px;

  box-shadow: 10px 10px 40px grey;
}
.player-img img {
  width: 300px;
  height: 256px;
}
.player-details {
  width: 300px;
  height: 154px;
}
/*----------------------
  Highlights-gallery section 
 ---------------------*/
.highlights-gallery {
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 1050px;
}
.highlights {
  width: 400px;
  height: 530px;
}
.highlights-imag img {
  width: 390px;
  height: 250px;
}
.highlights-info {
  width: 100%;
}
.highlights-heading {
  margin-left: 10%;
  font-size: 40px;
}
/*-----------------------
  office sponsors section 
 -----------------------*/
.sponsors {
  background-color: skyblue;
  width: 75%;
  height: 150px;
  border-radius: 50px;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}
.sponsors-logo {
  display: flex;
  justify-content: space-around;
}
/*----------------------
  footer section 
 ---------------------*/
footer {
  margin-bottom: 25px;
  text-align: center;
}
.social-icons img {
  width: 32px;
  height: 32px;
}
footer img {
  width: 483px;
  height: 110px;
}
/*-------------
 Media Queries 
 -------------*/

/* Mobile Devices */
@media only screen and (max-width: 688px) {
  .top-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .top-heading {
    margin-left: 2%;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 15%;
  }
  .highlights-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  footer img {
    width: 380px;
    height: 110px;
  }
}

/* tablet device */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .top-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .top-heading {
    margin-left: 0;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
  }
  .highlights-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-left: 10px;
  }
}
